@model dziennik_asp_mvc.Models.Entities.Users

@{
    ViewBag.Title = ViewBag.Type;
}

<div class="panel panel-primary">
    <div class="panel-heading">@(ViewBag.Type == "edit" ? "Edycja" : "Dodawanie nowego")  wykładowcy</div>
    <div class="panel-body">
        @using (Html.BeginForm("Create","Teachers",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.login, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.login, new { @class = "form-control", @placeholder = "Nazwa użytkownika..." })
                        @Html.ValidationMessageFor(model => model.login)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.first_name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.first_name, new { @class = "form-control", @placeholder = "Imię..." })
                        @Html.ValidationMessageFor(model => model.first_name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.last_name, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.last_name, new { @class = "form-control", @placeholder = "Nazwisko..." })
                        @Html.ValidationMessageFor(model => model.last_name)
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.email, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-3">
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email..." })
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-3">
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Hasło..." })
                        @Html.ValidationMessageFor(model => model.password)
                    </div>
                </div>

                <div class="form-group">                    
                    <div class="col-lg-offset-2 col-lg-10">
                        @Html.CheckBoxFor(model => model.status)
                        <label style="font-weight: normal;">
                            Czy konto ma być aktywne?
                        </label>
                        @Html.ValidationMessageFor(model => model.status)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-2">
                        <input type="submit" value="Dodaj wykładowcę" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
