@model dziennik_asp_mvc.Models.Entities.Users

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id_user)

        <div class="form-group">
            @Html.LabelFor(model => model.id_role, "id_role", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_role", String.Empty)
                @Html.ValidationMessageFor(model => model.id_role)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_group, "id_group", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_group", String.Empty)
                @Html.ValidationMessageFor(model => model.id_group)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.login)
                @Html.ValidationMessageFor(model => model.login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name)
                @Html.ValidationMessageFor(model => model.first_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name)
                @Html.ValidationMessageFor(model => model.last_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.album_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.album_number)
                @Html.ValidationMessageFor(model => model.album_number)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
